html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "WorkSans", sans-serif;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  height: 100%;
}
